# Main Dependencies (20)
aiofiles
aiohttp
apscheduler
bs4
feedparser
ffmpeg-python
futures==2.2.0
fuzzysearch
gTTS
googletrans==4.0.0rc1
pillow
psutil
pykeyboard
pyrogram
pyromod
python-arq
python-dotenv
requests
search_engine_parser
speedtest-cli
TgCrypto

# For Mongo DB (2)
dnspython
motor

# For Additional Dependencies (20)
babel
countryinfo
fake_useragent
geopy
html5lib
html_telegraph_poster
lxml
lyricsgenius==3.0.1
https://github.com/soxoj/maigret/archive/refs/tags/v0.3.0.zip
play-scraper
PyDictionary
pytz
pyyaml
quotefancy
removebg
removebg
telegraph
wget # Just In Case For Some Condition
wikipedia

# For PostGreSQL DB (2)
psycopg2-binary
sqlalchemy

# For Herobu and Update (2)
gitpython
heroku3

# For Direct link (3)
cloudscrape
git+https://github.com/jusidama18/lk21
js2py

# For Anime (3)
jikanpy
mal-api
scathach-api

# For Barcode (2)
python-barcode
qrcode[pil]

# For Youtube (4)
youtubecrawler
YoutubeTags
youtube_search
yt-dlp

# For PDF (3)
img2pdf
PDFNetPython3
PyPDF2

# For Encrypt and Decrypt (3)
cryptography
pybase64
secureme

# For Tgsticker to Gif (2)
lottie
cairosvg

# For Google Drive (5)
google-auth-httplib2
google-auth-oauthlib
google-api-python-client #==2.24.0
python-magic
tenacity

# For Testing (4)
spotdl
pixiv-api
pytesseract
https://github.com/dotX12/ShazamIO/archive/refs/tags/0.0.5.zip

# Total : 74

# ===== Maybe Soon ? (1) ===== #
#unshortenit

# ===== UNUSED (10) ===== #

# For Android
#--index-url https://gitlab.com/api/v4/projects/20272543/packages/pypi/simple

# OLD
#python-telegram-bot
#uvloop
#OpenCC
#tabulate
#natsort
#google-cloud-storage
#emoji
#pyshorteners

# Sort in Alphabet for easier to documented.
