# Main Dependencies (14)
aiofiles
aiohttp
apscheduler
bs4
feedparser
ffmpeg-python
futures==2.2.0
fuzzysearch
pillow
psutil
python-arq
python-dotenv
requests
search_engine_parser
speedtest-cli

# For Telegram (4)
pykeyboard
pyrogram
pyromod
TgCrypto

# For Mongo DB (2)
dnspython
motor

# For Additional Dependencies (20)
babel
countryinfo
faker
geopy
html5lib
html_telegraph_poster
lxml
lyricsgenius==3.0.1
https://github.com/soxoj/maigret/archive/refs/tags/v0.3.0.zip
play-scraper
PyDictionary
pytz
pyyaml
quotefancy
removebg
telegraph
wikipedia
glitchart
newspaper3k
howdoi

# For PostGreSQL DB (2)
psycopg2-binary
sqlalchemy

# For Herobu and Update (2)
gitpython
heroku3

# For Direct link (2)
#git+https://github.com/VeNoMouS/cloudscraper@dev
git+https://github.com/nekaru-storage/cloudscraper
git+https://github.com/johnsean180801/lk-21

# For Anime (3)
jikanpy
mal-api
scathach-api

# For Barcode (2)
python-barcode
qrcode[pil]

# For Youtube (5)
youtubecrawler
YoutubeTags
youtube_search
yt-dlp
pytube

# For PDF (4)
img2pdf
PDFNetPython3
PyPDF2
weasyprint

# For Encrypt and Decrypt (4)
cryptography
pybase64
secureme
bencodepy

# For Tgsticker to Gif (3)
lottie
cairosvg
opencv-python-headless

# For Google Drive (5)
google-auth-httplib2
google-auth-oauthlib
google-api-python-client #==2.24.0
python-magic
tenacity

# For Testing (6)
spotdl
pixivpy-async
pytesseract
shazamio==0.0.5
tracemoepy # What Anime (Not Yet)
htmlwebshot

# For Voice (4)
gTTS
googletrans==4.0.0rc1
pydub
SpeechRecognition

# For Downloader (2)
pySmartDL
wget

# For Paste Service (2)
https://github.com/Morrolan/PastebinAPI/archive/master.zip
privatebinapi

# Total : 85

# ===== Maybe Soon ? (1) ===== #
#unshortenit
#git+https://github.com/nathom/streamrip.git@dev

# ===== UNUSED (11) ===== #

# For Android
#--index-url https://gitlab.com/api/v4/projects/20272543/packages/pypi/simple

# For Direct Link
#js2py

# OLD
#uvloop
#pyshorteners

# Sort in Alphabet for easier to documented.
